body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  border: aqua 1rem solid;
  border-radius: 10%;
  padding: 2rem;
  color: aqua;
  box-shadow: rgb(0, 167, 167) 5px 7px 20px 10px;
}
